<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.upco.octo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:name=".OctoApplication"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">

        <activity
            android:name=".presentation.splash.SplashActivity"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.search.RepoSearchActivity" />

        <activity
            android:name=".presentation.repo.RepoActivity"
            android:parentActivityName=".presentation.search.RepoSearchActivity" />

    </application>
</manifest>
